<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="title-program">{{'Conheça ' | uppercase}} <br> INFLUENCERS </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-start" *ngFor="let faq of influencersList">
      <ion-col  size="12" class="item-row" *ngIf="faq.is_active === 1">
        <ion-row class="ion-align-items-start" >
          <ion-col size="4" class="ion-text-center">
            <ion-row>
              <ion-col class="no-padding" size="12" style="display: flex; justify-content: center">
                <ion-avatar (click)="goDetail(faq)" style="margin-bottom: 8px;">
                  <img [src]="faq.user.photo_url" [alt]="faq.user.photo_url" />
                </ion-avatar>
              </ion-col>
              <ion-col class="no-padding" size="12">{{ faq.user.nick_name }}</ion-col>
            </ion-row>


          </ion-col>
          <ion-col size="8" class="no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col size="4" (click)="toggleDetails(faq)">
                Altura : {{faq.height}} cm <br>
                Peso: {{faq.weight}}Kg <br>
                Grasa: {{faq.fat}}%

              </ion-col>
              <ion-col size="8">
                <ion-row  style="margin-right: 6px;">
                  <ion-col size="12">
                    <ion-row>
                      <ion-col size="12" class="ion-text-center">
                        Os Programas
                      </ion-col>

                      <ion-col size="6" (click)="goInfluencerWorkout(faq?.id)" class="ion-text-center">
                        <img class="icon-circle" src="/assets/imgs/icons/workout.png" />
                      </ion-col>
                      <!-- <ion-col size="4" (click)="openNutrition()" *ngIf="chat.user.personal_information?.is_nutrition_program_visible"> -->
                      <ion-col size="6" (click)="goInfluencerNutrition(faq?.id)"  class="ion-text-center">
                        <img class="icon-circle" src="/assets/imgs/icons/nutrition.png" />
                      </ion-col>
                      <!-- <ion-col size="3">
                        <img style="margin-left: 7px;" class="icon-circle" src="/assets/imgs/icons/message.png" />
                      </ion-col> -->
                    </ion-row>
                  </ion-col>
                  <!-- <ion-col size="4" (click)="goWorkoutList()" *ngIf="chat.user.personal_information?.is_workout_program_visible"> -->
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngIf="faq.showDetails === true" class="detail-row">
            <p [innerHTML]="faq.details" class="content-toggle ion-text-justify" (click)="goDetail()">

            </p>

            <ion-button color="light" class="ion-float-end" size="small" fill="outline" (click)="goDetail()">
              Saber más
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<app-custom-tab></app-custom-tab>
