<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="title-program" style="font-size: 16px; margin-top: 10px; margin-bottom: 6px;">Meu Perfil </div>
    </ion-col>
    <ion-col size="12">
      <!-- <ion-avatar style="margin: 0 auto; height: 90px; width: 90px;" >
              <img [src]="user.photo_url" alt="">
          </ion-avatar> -->
      <div class="preview" *ngIf="profile; else skeleton_avatar;">
        <ion-avatar (click)="changeImage()">
          <img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
          <ng-template #placheolder_avatar>
            <div class="fallback">
              <p>Escolher Foto de Perfil</p>
            </div>
          </ng-template>

        </ion-avatar>

      </div>
      <ng-template #skeleton_avatar>
        <div class="preview">
          <ion-avatar>
            <ion-skeleton-text animated height="128px" width="128px" rounded></ion-skeleton-text>
          </ion-avatar>
        </div>
      </ng-template>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -12px;">
    <!-- <ion-col size="12" class="ion-text-center">
          <ion-button color="danger" expand="full" style="margin-top: 25px;">
              Suscribete
          </ion-button>
      </ion-col> -->
  </ion-row>
  <ion-grid>
    <!-- <form> -->
    <!-- <ion-row>
          <ion-col offset="10" size="2">
              <ion-text color="dark" style="font-size:11px; text-align: center;">Visible</ion-text>
          </ion-col>
      </ion-row> -->
    <ion-row class="row-form ion-align-items-center ion-padding-start ion-padding-end">
      <ion-col size="12">
        <ion-row>
          <ion-col size="10">
            Bio
          </ion-col>
          <ion-col size="12">
            <ion-row class="ion-align-items-center">
              <ion-textarea placeholder="Escreve mais sobre você!" [(ngModel)]="form.bio"></ion-textarea>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center ion-padding-start ion-padding-end">
      <ion-col size="12">
        <ion-row>
          <ion-col size="9">
            Sexo
          </ion-col>
          <ion-col size="3" style="padding-left:2rem;">
            <span style="font-size: 12px;" >
              < Privado </span>
                <br>
                <ion-toggle color="success" [(ngModel)]="form.is_gender_visible"></ion-toggle> <br>
                <span style="font-size: 12px;" >
                  Público >
                </span>
          </ion-col>
          <ion-col size="12">
            <ion-row class="ion-align-items-center">
              <ion-radio-group [(ngModel)]="form.gender">
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="f" color="success"></ion-radio>
                </ion-col>
                <ion-col size="2" style="top: -5px">
                  <ion-label style="font-size: 12px;">Mulher</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="m" color="success"></ion-radio>
                </ion-col>
                <ion-col size="1" style="top: -5px">
                  <span style="font-size: 12px;">Homem</span>
                </ion-col>
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="g" color="success"></ion-radio>
                </ion-col>
                <ion-col size="1" style="top: -5px">
                  <span style="font-size: 12px;">Outros</span>
                </ion-col>
              </ion-radio-group>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center ion-padding-start ion-padding-end">
      <ion-col size="12">
        <ion-row>
          <ion-col size="9" >
            Estou interessado em
          </ion-col>
          <ion-col size="3" style="padding-left:2rem;">
            <span style="font-size: 12px;" >
              < Privado </span>
                <br>
                <ion-toggle color="success" [(ngModel)]="form.is_looking_for_visible"></ion-toggle> <br>
                <span style="font-size: 12px;" >
                  Público >
                </span>
          </ion-col>
          <ion-col size="12">
            <ion-row class="ion-align-items-center">
              <ion-radio-group [(ngModel)]="form.looking_for">
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="f" color="success"></ion-radio>
                </ion-col>
                <ion-col size="2" style="top: -5px">
                  <ion-label style="font-size: 12px;">Mulher</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="m" color="success"></ion-radio>
                </ion-col>
                <ion-col size="1" style="top: -5px">
                  <span style="font-size: 12px;">Homem</span>
                </ion-col>
                <ion-col size="3">
                  <ion-radio color="light" mode="md" value="g" color="success"></ion-radio>
                </ion-col>
                <ion-col size="1" style="top: -5px">
                  <span style="font-size: 12px;">Ambos</span>
                </ion-col>
              </ion-radio-group>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Idade
      </ion-col>
      <ion-col size="4">
        <input type="text" pattern="[0-9]*" decimal="true" placeholder="Idade" />
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_age_visible"></ion-toggle> <br>
            <small>
              Público >
            </small>

      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Peso em kg
      </ion-col>
      <ion-col size="4">
        <input type="text" pattern="[0-9]*" decimal="true" placeholder="Peso em Kg" [(ngModel)]="form.weight">
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_weight_visible"></ion-toggle> <br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Altura em Cm
      </ion-col>
      <ion-col size="4">
        <input type="text" pattern="[0-9]*" decimal="true" placeholder="Altura em cm" [(ngModel)]="form.height" />
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_height_visible"></ion-toggle> <br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        % de Gordura
      </ion-col>
      <ion-col size="4">
        <input type="text" pattern="[0-9]*" decimal="true" placeholder="Gordura" [(ngModel)]="form.fat_percentage" />
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_fat_percentage_visible"></ion-toggle><br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Instagram
      </ion-col>
      <ion-col size="4">
        <ion-input placeholder="@instagram" value="@" [(ngModel)]="form.instagram">
        </ion-input>
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_instagram_visible"></ion-toggle> <br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>

    <!-- //TODO: Ajustar los modelos para poder realizar el binding de los campos -->
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Fazer Visível <br>
        Plano de Treinamento
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_workout_program_visible"></ion-toggle> <br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Fazer Visível <br>
        Plano de Nutrição
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.is_nutrition_program_visible"></ion-toggle><br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <ion-row class="row-form ion-align-items-center">
      <ion-col size="6">
        Fazer Visível <br>
        Minhas Fotos
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="2">
        <small>
          < Privado </small>
            <br>
            <ion-toggle color="success" [(ngModel)]="form.are_photos_visible"></ion-toggle><br>
            <small>
              Público >
            </small>
      </ion-col>
    </ion-row>
    <!-- </form> -->
  </ion-grid>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="updateUser()" color="danger" size="small">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid class="ion-margin-top">
      <ion-text color="dark">Agrega una foto a tu perfil</ion-text>

      <ion-row>
          <ion-col size="12" class="ion-text-center">
              <ion-button color="danger" size="small" >
                  Subir foto
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid> -->
</ion-content>
