<!--  eslint-disable @angular-eslint/template/eqeqeq  -->
<ion-header>
  <app-nav-header ></app-nav-header>
</ion-header>
<ion-content>
  <ion-grid padding class="user-data">
      <ion-row>
          <ion-col offset="2" size="8">
              <div class="title-program">{{ exerciseProgram?.label }}</div>
          </ion-col>
          <ion-col size="2">
              <ion-fab-button size="small" color="dark">
                  <ion-icon name="share-social" color="danger"></ion-icon>
              </ion-fab-button>
          </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
          <ion-col center size="3" class="user-name ion-text-center">

               <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
              <ion-avatar *ngIf="exerciseProgram?.influencer_id == null" style="margin: 0 auto;">
                  <img src="../../../assets/imgs/icons/Circle Fitness - ISO - pared.jpg" >

              </ion-avatar>
              <ion-avatar style="margin: 0 auto;" *ngIf="exerciseProgram?.influencer_id != null" (click)="goInfluencerDetail(exerciseProgram?.influencer)">
                  <img [src]="exerciseProgram?.influencer.user.photo_url" >

              </ion-avatar>

              <div *ngIf="exerciseProgram?.influencer_id == null" class="username">
                  Circle Fitness
              </div>
              <div *ngIf="exerciseProgram?.influencer_id != null" class="username_influencer" style="padding-top: 0.5em ;">
                  {{exerciseProgram?.influencer.user.nick_name  }}
             </div>
          </ion-col>

          <ion-col offset="1" size="8">
              <ion-row class="no-padding no-margin" style="color: #ffffff; font-size: 14px">
                  <ion-col size="12">
                      <ion-row style="margin-bottom: 8px;" class="ion-align-items-end">
                          <ion-col class="no-padding" size="6"><b>Objetivos</b></ion-col>
                          <ion-col class="no-padding" size="6">
                              <ion-row *ngFor="let goal of goals">
                                  <ion-col class="no-padding" size="12"> {{ goal.label }} </ion-col>
                              </ion-row>
                          </ion-col>
                      </ion-row>
                      <ion-row style="margin-bottom: 8px;" class="ion-align-items-end">
                          <ion-col class="no-padding" size="6"><b>Dias</b></ion-col>
                          <ion-col class="no-padding" size="6">
                              <ion-row>
                                  <ion-col class="no-padding" size="12"> X{{routines.length}} </ion-col>
                              </ion-row>
                          </ion-col>
                      </ion-row>
                      <ion-row style="margin-bottom: 8px;" class="ion-align-items-end">
                          <ion-col class="no-padding" size="6"><b>Nivel</b></ion-col>
                          <ion-col class="no-padding" size="6">
                              <ion-row *ngFor="let level of levels">
                                  <ion-col class="no-padding" size="12"> {{ level.label }} </ion-col>
                              </ion-row>
                          </ion-col>
                      </ion-row>
                  </ion-col>
              </ion-row>
          </ion-col>
      </ion-row>
      <ion-row>

          <ion-col size="12" class="ion-text-center no-padding" *ngIf="viewReorder === true">
              <ion-button *ngIf="subscribe === true" expand="full" color="danger"
                  (click)="selectedWorkoutRoutineOutside(exerciseProgram)">
                  <ion-icon name="play" class="ion-padding-end"></ion-icon>
                  {{'Iniciar Treinamento' | translate | uppercase}}
              </ion-button>
          </ion-col>
      </ion-row>
      <ion-row style="margin-top: -15px">
          <ion-col size="12">
              <ion-text color="dark">
                  <h5>{{ 'Descrição do Treinamento' | translate }}</h5>

                  <div *ngIf="showMore === false" maxlength="190">
                      {{ exerciseProgram.description + "" | truncate:190}}
                  </div>
                  <div *ngIf="showMore === true">{{exerciseProgram.description}}</div>
                  <a style="color: #d20303; font-weight: bold; float: right" (click)="showMore = !showMore">Ver
                      <span [innerHtml]="showMore ? 'menos' : 'mais'"> </span></a>
              </ion-text>
          </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">

          <ion-col size="12">

              <div *ngIf="this.viewReorder" ion-text color="dark" class="text-rigth"
                  (click)="reorderActive = !reorderActive">
                  <ion-text color="dark">
                      {{(reorderActive ? 'listo' : 'reordenar') |translate}}
                  </ion-text>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>


  <ion-reorder-group *ngIf="exerciseProgram?.days !== undefined" disabled="{{reorderActive ? false : true}}"
      (ionItemReorder)="reorderRoutines($event)">
      <ion-item *ngFor="let routine of exerciseProgram?.days[0].sessions" class="item-list" lines="none">
          <ion-row class="no-padding" style="width: 100%">
              <ion-col class="no-padding" size="12">
                  <ion-card tappable (click)="selectedWorkoutRoutine(routine, exerciseProgram?.influencer)" class="corner-black">
                      <ion-card-content>
                          <ion-grid>
                              <ion-row>
                                  <ion-col size="12">
                                      <h1>{{routine?.label|translate| uppercase}}</h1>
                                  </ion-col>
                              </ion-row>
                              <ion-row class="ion-align-items-center">
                                  <ion-col size="2" text-right>
                                      <ion-icon class="icon_larger" src="assets/imgs/icons/dumbbell.svg"></ion-icon>
                                  </ion-col>
                                  <ion-col size="2"> {{routine?.exercises.length}} </ion-col>
                                  <ion-col size="2" text-right>
                                      <ion-icon class="icon_larger" src="assets/imgs/icons/hourglass.svg"></ion-icon>
                                  </ion-col>
                                  <ion-col size="6">
                                      {{ routine?.duration_in_minutes }} {{'min'|translate}}
                                  </ion-col>
                              </ion-row>
                          </ion-grid>
                          <ion-grid *ngIf="viewReorder === true" class="resume">
                              <ion-row>
                                  <ion-col col-6>
                                      {{routine?.dayOfWeek |translate| uppercase}}
                                  </ion-col>
                                  <ion-col col-6 text-right class="resume_ago">
                                      <!-- {{user?.resume?.first_workout|timeAgo | uppercase}} -->
                                      Hace unos minutos
                                  </ion-col>
                              </ion-row>
                          </ion-grid>
                          <div class="divider"></div>
                      </ion-card-content>
                  </ion-card>
              </ion-col>

          </ion-row>
          <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  </ion-reorder-group>


</ion-content>
<app-custom-tab></app-custom-tab>
