<ion-header>
  <app-nav-header ></app-nav-header>
</ion-header>

<ion-content>
  <div class="ion-text-center contact" style="color: #ffffff">

      <h3><ion-icon name="mail-open" color="white" ></ion-icon> <br> Contáctanos</h3>
      <p>Nos encantaría saber de tu opinión. </p>
      <div style="width: 50%; margin: 0 auto" class="ion-text-center">
          <ion-button  expand="block" color="danger" href="mailto:contacto@lid.com?Subject={{ subject }}">Email</ion-button>
      </div>
  </div>
</ion-content>
