<ion-header>
  <app-nav-header ></app-nav-header>
</ion-header>

<ion-content>
  <div class="ion-text-center contact" style="color: #ffffff">

      <h3><ion-icon name="mail-open" color="white" ></ion-icon> <br> Contato</h3>
      <p>Queremos te escutar e te ajudar com qualquer demanda que você tiver! </p>
      <div style="width: 50%; margin: 0 auto" class="ion-text-center">
          <ion-button  expand="block" color="danger" href="https://www.circlefitness.net/">Contato</ion-button>
      </div>
  </div>
</ion-content>
