<ion-header>
  <!--  TODO:AJUSTAR EL HEADER CON LA IMAGEN Y EL NOMBRE DEL OTRO USUARIO -->
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <div *ngFor="let chat of chats">

      <ion-row  size="6" class="ion-justify-content-start" *ngIf="chat.uid !== uid">

          <ion-item lines="none" class="my-message">
            <ion-label class="ion-text-left " color="dark">

              <img [src]="chat.imageUrl" alt="" *ngIf="chat.imageUrl !== '' ">
              <p color="dark">{{name}}</p>

              <h2>
                <b>
                  {{chat.msg}}
                </b>
              </h2>
            </ion-label>

          </ion-item>


      </ion-row>

      <ion-row size="6" class="ion-justify-content-end" *ngIf="chat.uid === uid">
        <ion-item lines="none"  class="other-message">
          <ion-label class="ion-text-right " color="dark">
            <img [src]="chat.imageUrl" alt="" *ngIf="chat.imageUrl !== '' ">
            <p>Tu</p>
            <h2>
              <b>
                {{chat.msg}}
              </b>
            </h2>
          </ion-label>

        </ion-item>
      </ion-row>


    </div>


  </ion-grid>




</ion-content>

<ion-footer>
  <input type="file" id="file" style="display: none" (change)="detectFiles()" multiple #fileToSend>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="dark" class="msg-btn" (click)="uploadImage()">
          <ion-icon name="document-attach-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
