<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <!-- <ion-fab-button size="small" color="dark" (click)="shareImage()"
        style="position: absolute; right: 0px; top: 0px;">
        <ion-icon name="share-social" color="danger"></ion-icon>
      </ion-fab-button> -->
      <h1>
        {{'good job'|translate}}
      </h1>
    </ion-col>
  </ion-row>


  <p>
    <span></span> Tempo em Exercício:
    <strong> {{ excTime }} {{'min'|translate}}</strong>
    <span></span>
  </p>
  <p>
    {{'you have done'|translate}}
    <strong>{{totalReps}} {{'repetitions'|translate}}</strong>
  </p>
  <p>
    Queimou
    <strong>{{calories}} {{'calories'|translate}}</strong>
  </p>

  <ion-row class="ion-text-center row-title">
    <ion-col size="12">
      PARA TERMINAR
    </ion-col>
  </ion-row>

  <ion-list class="plans no-padding" style="margin-top: -30px;">
    <ion-item class="itemwithsep  bg-transparent--" lines="none">
      <!-- (click)="goFoodDetail(meal, nutritionProgram)" -->
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col>
            <ion-item  lines="none" text-wrap>
              <!-- <ion-thumbnail slot="start" button (click)="openPreview(exerciseProgram.finisher1.photo_url)">
                <ion-img [src]="exerciseProgram.finisher1.photo_url"></ion-img>
              </ion-thumbnail> -->

              <ion-label text-wrap class="ion-text-justify" style="padding-left:1.5em ;">
                <h3>{{ exerciseProgram.finisher1.label }}</h3>
                <!-- <p class="finisher-text" [innerHTML]="textVideo1"></p> -->

                <div *ngIf="!showMore1">
                  <p class="finisher-text">{{trimString(textVideo1,190)}}</p>

                </div>
                <div *ngIf="showMore1">
                  <p class="finisher-text" [innerHTML]="textVideo1"></p>
                </div>
                <a style="color: #d20303; font-weight: bold; float: right; padding-right: 1.5rem;" (click)="showMore1 = !showMore1">Ver <span
                    [innerHtml]="showMore1 ? 'menos' : 'mais'"> </span></a>


              </ion-label>

            </ion-item>
            <ion-item  >
              <ion-grid class="ion-margin-top">
                <ion-row>
                  <ion-col size="12" >
                    <ion-card class="video-card ">
                      <!--  TODO::implementar component para salvar los videos en el storage (ver image cache) -->
                      <video width="390px" height="300px" controls muted="true" playsinline looped preload="auto" class="explain-video" >
                        <source [src]="exerciseProgram.finisher1.ptr_video+ '#t=0.1'" type="video/mp4">
                      </video>

                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div >

              </div>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item  lines="none" >
              <!-- <ion-thumbnail slot="start" button (click)="openPreview(exerciseProgram.finisher2.photo_url)">
                <ion-img [src]="exerciseProgram.finisher2.photo_url"></ion-img>
              </ion-thumbnail> -->
              <ion-label text-wrap class="ion-text-justify" style="padding-left:1.5em ;">
                <h3>{{ exerciseProgram.finisher2.label }}</h3>
                <!-- <p class="finisher-text" [innerHTML]="textVideo2"></p> -->

                <div *ngIf="!showMore2">
                  <p class="finisher-text">{{trimString(textVideo2,190)}}</p>

                </div>
                <div *ngIf="showMore2">
                  <p class="finisher-text" [innerHTML]="textVideo2"></p>
                </div>
                <a style="color: #d20303; font-weight: bold; float: right; padding-right: 1.5rem;" (click)="showMore2 = !showMore2">Ver <span
                    [innerHtml]="showMore2 ? 'menos' : 'mais'"> </span></a>


              </ion-label>

            </ion-item>
            <ion-item >

              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="ion-align-self-center">
                      <ion-card class="video-card ">
                        <!--  TODO::implementar component para salvar los videos en el storage (ver image cache) -->
                         <video width="390px" height="300px" controls muted="true" playsinline looped preload="auto" class="explain-video" >
                           <source [src]="exerciseProgram.finisher2.ptr_video+ '#t=0.1'" type="video/mp4">
                         </video>
                       </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div>

              </div>
            </ion-item>

          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>


  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button expand="full" color="danger" (click)="finish()" class="finish">
        <ion-icon slot="end" color="dark" name="checkmark-circle"></ion-icon>
        {{'finish'|translate}}
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
<app-custom-tab></app-custom-tab>
