<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-fab-button size="small" color="dark" (click)="showShareOptions()"
        style="position: absolute; right: 0px; top: 0px;">
        <ion-icon name="share-social" color="danger"></ion-icon>
      </ion-fab-button>
      <h1>
        {{'good job'|translate}}
      </h1>
    </ion-col>
  </ion-row>


  <p>
    <span></span> {{'routine time'|translate}}
    <strong> {{ excTime }} {{'min'|translate}}</strong>
    <span></span>
  </p>
  <p>
    {{'you have done'|translate}}
    <strong>{{totalReps}} {{'repetitions'|translate}}</strong>
  </p>
  <p>
    {{'you consumed'|translate}}
    <strong>{{calories}} {{'calories'|translate}}</strong>
  </p>

  <ion-row class="ion-text-center row-title">
    <ion-col size="12">
      PARA TERMINAR
    </ion-col>
  </ion-row>

  <ion-list class="plans no-padding" style="margin-top: -30px;">
    <ion-item class="itemwithsep  bg-transparent--" lines="none">
      <!-- (click)="goFoodDetail(meal, nutritionProgram)" -->
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col>
            <ion-item style="margin-left: 1em;" lines="none" text-wrap>
              <ion-thumbnail slot="start" button (click)="openPreview(exerciseProgram.finisher1.photo_url)">
                <ion-img [src]="exerciseProgram.finisher1.photo_url"></ion-img>
              </ion-thumbnail>

              <ion-label text-wrap class="ion-text-justify">
                <h3>{{ exerciseProgram.finisher1.label }}</h3>
                <p class="finisher-text">{{exerciseProgram.finisher1.description}}</p>

                <ion-button fill="outline" color="dark" class="special-button" (click)="seeVideo1()">
                  ver video
                  <ion-icon slot="end" name="play-outline"></ion-icon>
                </ion-button>
              </ion-label>

            </ion-item>
            <ion-item style="margin: 0 auto;" *ngIf="verVideo1">
              <div class="img-more">
                <ion-card class="video-card ">
                  <video controls muted="true" playsinline looped preload="auto" class="explain-video">
                    <source [src]="exerciseProgram.finisher1.ptr_video+ '#t=0.1'" type="video/mp4">
                  </video>

                </ion-card>
              </div>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item style="margin-left: 1em;" lines="none" >
              <ion-thumbnail slot="start" button (click)="openPreview(exerciseProgram.finisher2.photo_url)">
                <ion-img [src]="exerciseProgram.finisher2.photo_url"></ion-img>
              </ion-thumbnail>
              <ion-label text-wrap class="ion-text-justify">
                <h3>{{ exerciseProgram.finisher2.label }}</h3>
                <p class="finisher-text">{{exerciseProgram.finisher2.description}}</p>
                <ion-button outline fill="outline" color="dark"  (click)="seeVideo2()" class="special-button">
                  ver video
                  <ion-icon slot="end" name="play-outline"></ion-icon>
                </ion-button>
              </ion-label>

            </ion-item>
            <ion-item style="margin: 0 auto;" *ngIf="verVideo2">
              <div class="img-more">
                <ion-card class="video-card ">
                  <video controls muted="true" playsinline looped preload="auto" class="explain-video">
                    <source [src]="exerciseProgram.finisher2.ptr_video+ '#t=0.1'" type="video/mp4">
                  </video>
                </ion-card>
              </div>
            </ion-item>

          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>


  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button expand="full" color="danger" (click)="finish()" class="finish">
        <ion-icon slot="end" color="dark" name="checkmark-circle"></ion-icon>
        {{'finish'|translate}}
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
<app-custom-tab></app-custom-tab>
