.header-group {
  vertical-align: middle;
  color: var(--ion-color-dark);
  font-family: "HNC-Light";
  padding: 0px 10px !important;
}


.subheader {
  color: var(--ion-color-dark);
  font-family: "HNC-Light";
  font-size: 20px !important;
  margin-top: 15px;
}

ion-item {
  background: transparent !important;
  border-bottom: 1px solid #fff !important;
  color: #fff !important;
  ion-icon {
    color: #d22026 !important;
  }
}
.slides {
  background-color: #222 !important;
  padding-top: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 160px;
}

.arrow {
  font-size: 12px;
}
.alertB {
  margin-right: 12px !important;
}

.workout-selected {
  position: absolute;
  color: #fff;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px;
  top: 0;
  left: 0;
}

.workout-public {
  position: absolute;
  color: #fff;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px;
  right: 0;
  top: 0;

}
.workout-title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  text-align: left;
  font-weight: 900;
  text-shadow: 0 4px 1px black, 0 10px 10px black;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin: 5px;
  line-height: 25px;
  letter-spacing: -1px;
  left: 0;
}
