<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content no-padding>
  <ion-row>
    <ion-col size="12">
      <div class="title-program" style="font-size: 16px; margin-top: 10px; margin-bottom: 6px;">CONVERSAS</div>
      <!--  <ion-button size="small" color="danger" class="fil" (click)="goFilter()">
        <ion-icon slot="start" name="filter-sharp" color="dark"></ion-icon> Filtrar
      </ion-button> -->
    </ion-col>
  </ion-row>

  <ion-row *ngIf="lastChats.length === 0">
    <ion-col size="12" class="item-row" >
      <ion-card >
        <ion-card-content>
          Você ainda não tem conversas, para bater um papo, vá para nossa seção de Gym Partners
        </ion-card-content>

        <ion-button fill="clear" (click)="goToGymPartners()">Gym Partners</ion-button>

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="lastChats.length > 0">
    <ion-col size="12" class="item-row" *ngFor="let user of lastChats ">
      <ion-row class="ion-align-items-start">
        <ion-col size="3">
          <ion-avatar (click)="goDetail(user.toEmail, user.img, user.toUid, user.toWorkoutId, user.toNutritionId)" style="margin-bottom: 8px;">
            <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
            <img *ngIf="user?.img === ''" src="assets/imgs/logo-fit-ola.png" alt="" style="object-fit: contain;" />
            <img *ngIf="user?.img" [src]="user.img" alt="user.name" style="width: 100% !important; " />
          </ion-avatar>
          {{user.toName}}
        </ion-col>
        <ion-col size="9" class="no-padding">
          <ion-row>
            <ion-col size="6" class="ion-text-start" style="padding-left: 12px;">
              {{user.first_name }} </ion-col>
            <ion-col size="6" class="ion-text-end"> </ion-col>
            <ion-col size="4">
              <span *ngIf="user.personal_information?.is_height_visible">
                Altura : {{ user.personal_information?.height }} cm<br />
              </span>
              <span *ngIf="user.personal_information?.is_weight_visible">
                Peso: {{ user.personal_information?.height }} kg<br />
              </span>
              <span *ngIf="user.personal_information?.is_fat_percentage_visible">
                Gordura : {{ user.personal_information?.fat_percentage }} %
              </span>
            </ion-col>
            <ion-col size="8">

              <ion-col size="12">
                <ion-row>
                  <ion-col size="8" class="ion-text-center">
                    SUS PROGRAMAS
                  </ion-col>
                  <ion-col size="4">

                  </ion-col>
                  <ion-col size="4" (click)="openEspecificWorkout(user)">
                    <img class="icon-circle" src="/assets/imgs/icons/workout.png" />
                  </ion-col>
                  <!-- <ion-col size="4" (click)="openNutrition()" *ngIf="chat.user.personal_information?.is_nutrition_program_visible"> -->
                  <ion-col size="4" (click)="openEspecificNutrition(user)"
                    style="border-right: 1px solid #fff;">
                    <img class="icon-circle" src="/assets/imgs/icons/nutrition.png" />
                  </ion-col>
                  <ion-col size="4"
                    (click)="goSpecificChat(user.toName, user.toUid, user.img, user.messageSent, user.toEmail, user.toWorkoutId, user.toNutritionId)">
                    <ion-badge size="large" color="danger" class="messages" *ngIf="user.messageSent === 1 "></ion-badge>
                    <img class="icon-circle" src="/assets/imgs/icons/message.png" />
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


</ion-content>

<app-custom-tab></app-custom-tab>
