ion-back-button {
	// --background: transparent;
  	text-transform: uppercase !important;
	font-size: 12px !important;
	font-weight: bold;
  	--background: transparent !important;
	--icon-font-size: 15px !important;
	--icon-margin-end: 5px !important;
	--color: #ffffff;

}
ion-icon{
	margin-right: 5px !important;
}
