<ion-content class="content-wizard" [ngStyle]="{'background-image':'url(' + bgGender + ')'}">
  <div class="gra">
    <ion-content class="wizard-c" style="height: 14%; z-index: 2">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-padding-top">
          <ion-text>
            <img style="margin-top: 20px; margin-left: 10px" src="assets/imgs/logo-fit-ola.png" />
          </ion-text>
        </ion-col>

        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-progress-bar color="danger" [value]="progress"></ion-progress-bar>

        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-content>

    <ion-content class="wizard-c" color="transparent" *ngIf="step === 0" class="fadeInLeft animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text color="white">
              {{user.nick_name}} Para recomendar o <br />
              melhor plano de  exercícios e <br />
              nutrição, vamos fazer algumas  <br />
              perguntas rápidas.
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Qual é o seu sexo?
            </ion-text>
          </ion-col>
          <ion-col *ngFor="let gender of genders" size="4" class="ion-text-center">
            <input *ngIf="gender.type === 1" type="image"
              [src]="pathLocationImage + 'female' + '-' + (gender.isSelected ? 'active' : 'unactive') + '.svg'"
              class="female" (click)="selectLocationOk(genders, gender)" />
            <input *ngIf="gender.type === 2" type="image"
              [src]="pathLocationImage + 'male' + '-' + (gender.isSelected ? 'active' : 'unactive') + '.svg'"
              class="male" (click)="selectLocationOk(genders, gender)" />
            <input *ngIf="gender.type === 3" type="image"
              [src]="pathLocationImage + 'other' + '-' + (gender.isSelected ? 'active' : 'unactive') + '.svg'"
              class="other" (click)="selectLocationOk(genders, gender)" />
            <p class="text-circle-btn">{{ gender.label }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 1 " class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>

          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              Data de nascimento
            </ion-text>

          </ion-col>

          <ion-col>


            <!-- Datetime in popover with input -->
            <ion-item>
              <ion-input [value]="dateValue"></ion-input>
              <ion-button fill="clear" id="open-date-input-2">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
              <ion-popover trigger="open-date-input-2" show-backdrop="false">
                <ng-template>
                  <ion-datetime #popoverDatetime2 presentation="date"
                    (ionChange)="dateValue = formatDate(popoverDatetime2.value)" displayFormat="DD/MM/YYYY" min="1950-03-14"
                    max="2025-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 2" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <form [formGroup]="formMeasurements">
          <ion-row>
            <ion-col size="12" class="ion-text-center ion-padding">
              <ion-text color="light" class="text-title">
                ¿Qual é sua altura? (cm)
              </ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-item class="custom-input">
                <ion-input name="height" formControlName="height" min="130" max="250" maxlength="3" placeholder="Altura"
                  type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <ion-text color="light" class="text-title">
                ¿Quanto pesa? (kg)
              </ion-text>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-item class="custom-input">
                <ion-input name="weight" formControlName="weight" min="20" max="300" maxlength="3" placeholder="Peso"
                  type="number"></ion-input>
              </ion-item>

            </ion-col>
          </ion-row>
        </form>

      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 3" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>

          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Cúal es tu porcentaje de Gordura?
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item class="custom-input">
              <ion-input [(ngModel)]="fatPercentage" min="0" max="100" placeholder="% Gordura" maxlength="3"
                type="number"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 4" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">

        <ion-row>
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Cúales de estos describen
              mejor tus objetivos en Lid
              Fitness?
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item class="custom-input">
              <ion-label>Objetivos</ion-label>
              <ion-select [(ngModel)]="goal" multiple="true" cancelText="Cancelar" okText="Ok!">
                <ion-select-option value="lose_weight">Perder peso</ion-select-option>
                <ion-select-option value="build_muscle_mass">Ganar masa</ion-select-option>
                <ion-select-option value="tone_up">Tonificar</ion-select-option>
                <ion-select-option value="other">Otro</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 5" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>

          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Cómo describirías tu experiencia sobre entrenamientos?
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item class="custom-input">
              <ion-label>Experiencia</ion-label>
              <ion-select [(ngModel)]="experience" cancelText="Cancelar" okText="Ok!">
                <ion-select-option value="beginner">Principiante</ion-select-option>
                <ion-select-option value="intermediate">Intermedio</ion-select-option>
                <ion-select-option value="expert">Avanzado</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 6" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row *ngIf="gender === 'female'">
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              Escolha o seu tipo de corpo.
            </ion-text>
          </ion-col>
          <ion-col *ngFor="let body of bodies" size="4" class="ion-text-center">
            <input *ngIf="body.type === 1" type="image"
              [src]="pathLocationImage + 'woman-ectomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="ectomorph" (click)="selectBodyOk(bodies, body)" />
            <input *ngIf="body.type === 2" type="image"
              [src]="pathLocationImage + 'woman-mesomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="mesomorph" (click)="selectBodyOk(bodies, body)" />
            <input *ngIf="body.type === 3" type="image"
              [src]="pathLocationImage + 'woman-endomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="endomorph" (click)="selectBodyOk(bodies, body)" />
            <p class="text-circle-btn">{{ body.label }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="gender === 'male'">
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Cómo describirías tu tipo de cuerpo?
            </ion-text>
          </ion-col>
          <ion-col *ngFor="let body of bodies" size="4" class="ion-text-center">
            <input *ngIf="body.type === 1" type="image"
              [src]="pathLocationImage + 'man-ectomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="ectomorph" (click)="selectBodyOk(bodies, body)" />
            <input *ngIf="body.type === 2" type="image"
              [src]="pathLocationImage + 'man-mesomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="mesomorph" (click)="selectBodyOk(bodies, body)" />
            <input *ngIf="body.type === 3" type="image"
              [src]="pathLocationImage + 'man-endomorph' + '-' + (body.isSelected ? 'active' : 'unactive') + '.svg'"
              class="endomorph" (click)="selectBodyOk(bodies, body)" />
            <p class="text-circle-btn">{{ body.label }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step === 7" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>

          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Cúantas veces por semana te gustaría ir al gimnasio?
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item class="custom-input">
              <ion-label>Ir al Gym</ion-label>
              <ion-select [(ngModel)]="frequencyGym" cancelText="Cancelar" okText="Ok!">
                <ion-select-option value="1">1 - 3</ion-select-option>
                <ion-select-option value="2">4 - 5</ion-select-option>
                <ion-select-option value="3">Más de 5</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content class="wizard-c" color="transparent" *ngIf="step >= 8" class="fadeInRight animated"
      style="height: 86%">
      <h6 class="progress-bar">{{ (progress * 100) | number : '.2-2' }}%</h6>
      <div class="gender-c">
        <ion-row>

          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-text color="light" class="text-title">
              ¿Tenés alguna restricción alimentaria?
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-item class="custom-input">
              <ion-label>Selecciona una</ion-label>
              <ion-select [(ngModel)]="footRestriction" multiple="true" cancelText="Cancelar" okText="Ok!">
                <ion-select-option value="bacon">Vegano</ion-select-option>
                <ion-select-option value="olives">Vegetariano</ion-select-option>
                <ion-select-option value="xcheese">Sem lactose ou Glutem</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </div>

</ion-content>
<ion-footer lines="none" color="transparent">
  <ion-row>
    <ion-col size="6">
      <ion-button color="danger" (click)="previousButton()" style="width: 120px" fill="clear">
        VOLTAR
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <ion-button *ngIf="progress < .8" color="danger" (click)="nextButton()" style="width: 120px" fill="clear">
        PRÓXIMO
      </ion-button>
      <ion-button *ngIf="progress >= .8" color="danger" style="width: 120px" fill="clear" (click)="nextButton()">
        FIN
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
