<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>


<ion-content padding>

  <div class="title-program ion-padding">
    {{user?.nick_name | uppercase }}
  </div>
  <ion-row padding style="padding-top: 0 !important; padding-bottom: 0 !important;">
    <ion-col size="12" class="item-row">
      <ion-row class="ion-align-items-start">
        <ion-col size="4">
          <ion-avatar>
            <img [src]="userImageUrl" [alt]="user?.nick_name">
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="2" style="padding: 0px!important;">
              <ion-button fill="clear" (click)="openInstagram()">
                <ion-icon slot="icon-only" color="dark" size="large" name="logo-instagram"></ion-icon>
              </ion-button>

            </ion-col>
            <ion-col size="10">

              <p>Altura: {{user?.personal_information.height}} cm <br> </p>
              <p>Peso: {{user?.personal_information.weight}}Kg <br></p>
              <p> Gordura: {{user?.personal_information.fat_percentage}}%</p>


            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4 class="subtitle">Sobre Mim <br> {{user?.nick_name| uppercase }}</h4>
    </ion-col>
  </ion-row>
  <ion-row style="padding-top: 0 !important; padding-bottom: 0 !important;">
    <ion-col class="item-row" size="12">
      <ion-text color="dark">
        <h5>{{ 'Sobre Mim' | translate }}</h5>

        <div *ngIf="showMore === false" maxlength="190">
          <div *ngIf="user?.personal_information.bio !== null" style="font-size: 12px;">
            <p style="font-size: 12px;"> {{ user?.personal_information.bio | truncate:190}}</p>
          </div>

        </div>
        <div *ngIf="showMore === true"><p style="font-size: 12px;">{{ user?.personal_information.bio}}</p></div>
        <a style="color: #d20303; font-weight: bold; float: right" (click)="showMore = !showMore">Mostrar
          <span [innerHtml]="showMore ? 'Menos' : 'Mais'"> </span></a>
      </ion-text>
    </ion-col>
    <ion-col class="item-row" size="12" class="ion-text-start">

      <p style="text-align: left !important; font-size: 16px ; padding-left: 1.5 em;">Sexo :
        <span *ngIf="user?.personal_information.gender === 'm'" style="font-size: 16px ;">Homen</span>
        <span *ngIf="user?.personal_information.gender === 'f'" style="font-size: 16px ;">Mulher</span>
        <span *ngIf="user?.personal_information.gender === 'o'" style="font-size: 16px ;">Outro</span>
      </p>

      <p style="text-align: left !important; font-size: 16px ; padding-left: 1.5 em;">Busco me relacionar com:
        <span *ngIf="user?.personal_information.looking_for === 'm'" style="font-size: 16px ;">Homen</span>
        <span *ngIf="user?.personal_information.looking_for === 'f'" style="font-size: 16px ;">Mulher</span>
        <span *ngIf="user?.personal_information.looking_for === 'o'" style="font-size: 16px ;">Outro</span>
      </p>


      <p style="text-align: left !important; font-size: 16px ; padding-left: 1.5 em;">Edad :
        {{showAge}}
      </p>


    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4 class="subtitle">GALERIA DO <br> {{user?.nick_name| uppercase }}</h4>
    </ion-col>
  </ion-row>
  <ion-grid class="ion-margin-top" fixed *ngFor="let img of gallery">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-item class="itemwithsep  bg-transparent--" lines="none">
          <ion-card>
            <img [src]="img.imageUrl" alt="" style="width: 100%;">
          </ion-card>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>
<app-custom-tab></app-custom-tab>
