<ion-header>
  <app-nav-header ></app-nav-header>
</ion-header>

<ion-content>

  <ion-row >
      <ion-col size="12">
          <h5 class="title-h5" color="white">
              ¿Cómo funciona?
          </h5>
      </ion-col>
      <ion-col size="12" class="text-info" color="white">
          <p>
              El primer aplicativo social de Programas de gimnasio y nutrición <br> <br>

              _ Como funciona? <br><br>

              Podes seguir programas realizados entrenadores, influencers o de otras personas del gimnasio cerca tuyo. <br>

              _Programas expertos pero Faciles de entender <br> <br>

              Detalles del programa por día y con vídeos de cómo hacer el ejercicio. <br> <br>

              _Puedes ajustar. <br> <br>

              Peso y repeticiones. <br>


              _Nutrición  <br> <br>

              Detalle de las recetas y alarmas <br>

              _Gym partners <br> <br>

              Encontra nuevos amigos dentro del gimnasio o Inspirate siguiendo sus programas

          </p>

          <div class="more ion-margin-top no-padding">
              <div
                  class="img-more"
                  [ngStyle]="{'background-image':'url(' + 'assets/imgs/crossfit1.jpg' + ')'}"
              ></div>
              <div class="play">
                  <ion-icon name="play-circle-outline" color="light"></ion-icon>
                  <ion-text color="light">
                      <h6>
                          Ver <br />
                          Vídeo
                      </h6>
                  </ion-text>
              </div>
          </div>
      </ion-col>
  </ion-row>


</ion-content>
