<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12">
      <h5 class="title-h5" color="white">Términos y uso / Política de Privacidad de Datos</h5>
    </ion-col>
    <ion-col size="12" class="text-info" color="white">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea
        dicta unde provident consectetur perspiciatis. Unde nulla
        doloremque fugit iste ab voluptate enim qui deserunt aperiam
        praesentium? Illo aliquam necessitatibus nemo!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente dicta sit distinctio porro nisi? Soluta veniam,
        blanditiis at ex beatae fugiat itaque perspiciatis accusamus
        fugit vero minima ad sint?
      </p>
    </ion-col>
  </ion-row>
</ion-content>
