<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content no-padding>

  <div class="title-program ion-padding">
    INFLUENCERS & TRAINERS
  </div>
  <ion-list  lines="none" *ngIf="isLoaded" >
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row padding style="padding-top: 0 !important; padding-bottom: 0 !important;" *ngIf="!isLoaded">
    <ion-col size="12" class="item-row">
      <ion-row class="ion-align-items-start">
        <ion-col size="4">
          <ion-avatar>
            <img [src]="influencerData?.user.photo_url" [alt]="influencerData?.user.nick_name">
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="12">
              <b>{{influencerData?.user.nick_name }}</b>
            </ion-col>
            <ion-col size="12">
              <p>Altura : {{influencerData?.height}} cm <br> </p>
              <p>Peso: {{influencerData?.weight}}Kg <br></p>
              <p> Gordura: {{influencerData?.fat}}%</p>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isLoaded">
    <ion-col size="12">
      <h4 class="subtitle">Treinamentos <br> by <b>{{influencerData?.user.nick_name  }}</b></h4>
    </ion-col>
  </ion-row>


  <!--  <div *ngFor="let section of workoutSections"> -->
  <div *ngIf="!isLoaded">

    <!-- <div *ngFor="let category of section.categories"> -->
    <div>
      <div class="ion-margin-top">
        <ion-slides pager="true" #slides [options]="sliderConfig">
          <ion-slide class="slides bg-slide" [ngStyle]="{'background-image':'url(' + workout.photo_url + ')'}"
            *ngFor="let workout of influencerData?.exercise_programs" (click)="goWorkoutList(workout)">
            <div *ngIf="workout.is_favourite" class="workout-selected">
              <ion-icon name="star"></ion-icon>
            </div>
            <div *ngIf="!workout.is_public" class="workout-public">
              <ion-icon name="lock-closed"></ion-icon>
            </div>
            <div class="workout-title">{{workout.label}}</div>
            <!-- <img [src]="workout.photo_url"> -->
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="influencerData?.exercise_programs.length === 0 && !isloaded">
    <ion-row>
      <ion-col size="12" class="item-row">
        <ion-card>
          <ion-card-content>
            {{influencerData?.user.nick_name  }}, ainda não tem treinos atribuídos.
          </ion-card-content>


        </ion-card>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
<app-custom-tab></app-custom-tab>
