 <!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <app-nav-header></app-nav-header>
</ion-header>

<ion-content padding>

  <ion-row class="ion-align-items-center">
    <ion-col center size="3" class="user-name ">

      <ion-avatar  style="margin: 0 auto;" *ngIf="influencer == null">
        <img src="../../../assets/imgs/icons/Circle Fitness - ISO - pared.jpg">
      </ion-avatar>
      <ion-avatar style="margin: 0 auto;" *ngIf="influencer != null" (click)="goInfluencerDetail(influencer)">
        <img [src]="influencer?.user.photo_url">
      </ion-avatar>
      <div>
        <div *ngIf="influencer == null" class="username ion-text-center">
          Circle Fitness

        </div>
        <div *ngIf="influencer != null" class="username_influencer ion-text-center">
          {{influencer?.user.nick_name  }}
        </div>
      </div>
    </ion-col>
    <ion-col size="9" class="ion-text-center">
      <div class="title-program"> {{ exercise.label | uppercase }} </div>
    </ion-col>
  </ion-row>

  <ion-row class="no-padding" style="width: 100%; margin-top: 25px;">
    <ion-col class="no-padding" size="12">
      <div class="triangle">
        <h1>Como fazer o exercício?</h1>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-justify">
      <ion-text color="dark">
        {{ exercise.description }}
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="no-padding" style="width: 100%; margin-top: 25px;">
    <ion-col class="no-padding" size="12">
      <div class="triangle">
        <h1>Equipamentos utilizados</h1>
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 15px;">
    <ion-col size="12" class="ion-text-justify" style="padding: 0px;">
      <ion-row>
        <ion-col style="padding: 0px;" class="ion-text-center" size="6"
          *ngFor="let exerciseEquipment of exercise.exercise_equipment">

          <img [src]="exerciseEquipment.photo_url" style="border: 2px solid gray;" (click)="openPreview(exerciseEquipment.photo_url)">
          <ion-text class="ion-text-left" color="dark" style="font-weight: 600; text-align: center !important;">
            {{ exerciseEquipment.label }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="no-padding" style="width: 100%; margin-top: 25px;">
    <ion-col class="no-padding" size="12">
      <div class="triangle">
        <h1>Que ver um vídeo?</h1>
      </div>
    </ion-col>
  </ion-row>
  <div class="more ion-margin-top no-padding">

    <div >
      <div class="img-more">
        <ion-card class="video-card ">
          <!--  TODO::implementar component para salvar los videos en el storage (ver image cache) -->
          <video width="400px" height="350px" controls muted="true" playsinline looped preload="auto"
             class="explain-video"
            >
            <source [src]="exercise?.video_url" type="video/mp4">
          </video>

        </ion-card>
      </div>
    </div>


  </div>



</ion-content>
<app-custom-tab></app-custom-tab>
