<ion-header lines="none" class="ion-no-border">
  <ion-toolbar color="transparent">
      <ion-buttons slot="start">
          <ion-menu-button color="white" menu="firstMenu"> </ion-menu-button>

      </ion-buttons>
      <ion-buttons slot="end">

        <ion-button (click)="goGalery()">
          <div class="custom-button-content">
            <ion-icon color="white" slot="start" name="images-outline"></ion-icon>
            <ion-label color="white" class="my-label">GALERIA </ion-label>
          </div>

        </ion-button>
        <ion-button (click)="goProfile()">
          <div class="custom-button-content">
            <ion-icon color="white" slot="end" name="person-outline"></ion-icon>
            <ion-label color="white" class="my-label">PERFIL</ion-label>
          </div>


        </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="no-padding" [scrollY]="false">
  <div no-padding class="ion-text-center" style="margin-top: 10px">
      <ion-grid class="ion-margin-top">
          <ion-row>
              <ion-col size="12" class="ion-text-center" >
                  <ion-text>
                      <img
                          style="margin-top: 20px; margin-left: 10px; width: 50%;"
                          src="assets/imgs/logo-fit-ola.png"
                      />
                      <h1 style="margin-top: -2px">{{this.generalService?.user?.nick_name | uppercase}}</h1>
                  </ion-text>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col offset="2" size="8" offset="2" class="ion-text-center">
                  <ion-button
                      color="danger"
                      shape="round"
                      expand="block"
                      (click)="goWorkoutRoutine(null)"
                      style="font-family: Roboto-Black;"
                  >
                      {{'iniciar workout'|translate | uppercase}}</ion-button
                  >
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
  <br />
  <ion-grid no-padding class="homeB no-padding">
     <ion-row>
          <ion-col size="6" tappable (click)="goExploreWorkouts()">
              <img src="assets/imgs/homeAuth1.png"/>
              <h4 class="line1">{{'escoger'|translate | uppercase}}<br></h4>
              <h4 class="line2">{{'TREINAMENTOS' | uppercase}}</h4>
          </ion-col>
          <ion-col size="6" tappable (click)="goExploreNutrition()">
              <img src="assets/imgs/homeAuth2.jpg"/>
              <h4 class="line1">{{'escoger'|translate | uppercase}} <br></h4>
              <h4 class="line2">{{'PLANOS DE NUTRIÇÃO' | uppercase}}</h4>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6" tappable (click)="goToChat()">
              <img src="assets/imgs/homeAuth3.jpg"/>
              <h4 class="line1">{{'Conozca'|translate | uppercase}}</h4>
              <h4 class="line2">{{'Gym Partners'|translate | uppercase}}</h4>
          </ion-col>
          <ion-col size="6" tappable (click)="goInfluencers()">
              <img src="assets/imgs/homeAuth4.jpg"/>
              <h4 class="line1">{{'Conozca'|translate | uppercase}}</h4>
              <h4 class="line2">{{' Trainers & Influs ' | uppercase}}</h4>
          </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <ion-button (click)="alert()">oprime</ion-button> -->

</ion-content>

<app-custom-tab></app-custom-tab>

