<ion-header>
  <app-nav-header (goNext)="goNext()" (goBack)="goBack()"></app-nav-header>
</ion-header>

<ion-content no-padding>

  <div class="title-program ion-padding">PROCURAR <br>PLANOS DE TREINAMENTO </div>


  <div>

    <div class="header-title" style="margin-left: -20px">
      <div style="width: 90%;">
        <b style="text-align: left;">CRIADORES</b>
      </div>
      <div style="width: 10%;">
        <ion-icon class="ion-text-center" style="margin: -2px;" name="chevron-forward" color="light"></ion-icon>
      </div>
    </div>
    <div *ngFor="let section of segmentsPrograms">



      <h3 class="header-group" *ngIf="section.exercise_program.length > 0">
        {{section.label}}

      </h3>


      <div *ngIf="isCharge">


        <swiper [slidesPerView]="3" [loop]="true" [navigation]="true" [scrollbar]="{ draggable: true }"
          style="margin-left: -20px !important; margin-right: -20px !important;">
          <ng-template swiperSlide *ngFor="let workout of section.exercise_program">
            <div class="slides bg-slide">
              <img-loader [src]="workout.image_min" width="100%" height="150px" backgroundSize="cover"
                fallbackAsPlaceholder="true" style="background-position: center;" (click)="openDetailWorkout(workout)">
              </img-loader>
              <!-- <ion-img [src]="workout.image_min" class="img-slider" (click)="openDetailWorkout(workout)"></ion-img> -->
              <!-- <app-cached-image [src]="workout.image_min" [spinner]="false"></app-cached-image> -->
              <div *ngIf="workout.is_favourite" class="workout-selected">
                <ion-icon name="star"></ion-icon>
              </div>
              <div *ngIf="!workout.is_public" class="workout-public">
                <ion-icon name="lock-closed"></ion-icon>
              </div>
            </div>

            <div class="workout-title">{{workout.label}}</div>
          </ng-template>
        </swiper>
        <!-- <ion-slides pager="true" #slides [options]="sliderConfig">
          <ion-slide class="slides bg-slide" [ngStyle]="{'background-image':'url(' + workout.photo_url + ')'}"
            *ngFor="let workout of section.exercise_program" (click)="openDetailWorkout(workout)">
            <div *ngIf="workout.is_favourite" class="workout-selected">
              <ion-icon name="star"></ion-icon>
            </div>
            <div *ngIf="!workout.is_public" class="workout-public">
              <ion-icon name="lock-closed"></ion-icon>
            </div>
            <div class="workout-title">{{workout.label}}</div>

          </ion-slide>
        </ion-slides> -->
      </div>
      <div *ngIf="!isCharge">
        <ion-slides pager="true" #slides [options]="sliderOpts">
          <ion-slide class="slides bg-slide" *ngFor="let a of [1,2,3,4]">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-slide>
        </ion-slides>
      </div>
    </div>


  </div>
  <div>
    <div class="header-title" style="margin-left: -20px; margin-top: 1rem;">
      <div style="width: 90%;">
        <b style="text-align: left;">OBJETIVOS</b>
      </div>
      <div style="width: 10%;">
        <ion-icon class="ion-text-center" style="margin: -2px;" name="chevron-forward" color="light"></ion-icon>
      </div>
    </div>
    <div *ngFor="let category of goalsPrograms">

      <h3 class="header-group" *ngIf="category.exercise_program.length > 0">
        {{category.label}}

      </h3>

      <div *ngIf="isCharge">

        <swiper [slidesPerView]="3" [loop]="true" [navigation]="true" [scrollbar]="{ draggable: true }"
          style="margin-left: -20px !important; margin-right: -20px !important;">
          <ng-template swiperSlide *ngFor="let workout of category.exercise_program">
            <div class="slides bg-slide">
              <img-loader [src]="workout.image_min" width="100%" height="150px" backgroundSize="cover"
                fallbackAsPlaceholder="true" style="background-position: center;" (click)="openDetailWorkout(workout)">
              </img-loader>
              <div *ngIf="workout.is_favourite" class="workout-selected">
                <ion-icon name="star"></ion-icon>
              </div>
              <div *ngIf="!workout.is_public" class="workout-public">
                <ion-icon name="lock-closed"></ion-icon>
              </div>
            </div>

            <div class="workout-title">{{workout.label}}</div>
          </ng-template>
        </swiper>


        <!-- <ion-slides pager="true" #slides [options]="sliderConfig">
          <ion-slide class="slides bg-slide" [ngStyle]="{'background-image':'url(' + workout.image_min + ')'}"
            *ngFor="let workout of category.exercise_program" (click)="openDetailWorkout(workout)">

            <div *ngIf="workout.is_favourite" class="workout-selected">
              <ion-icon name="star"></ion-icon>
            </div>
            <div *ngIf="!workout.is_public" class="workout-public">
              <ion-icon name="lock-closed"></ion-icon>
            </div>
            <div class="workout-title">{{workout.label}}</div>

          </ion-slide>
        </ion-slides> -->
      </div>
      <div *ngIf="!isCharge">
        <ion-slides pager="true" #slides [options]="sliderOpts">
          <ion-slide class="slides bg-slide" *ngFor="let a of [1,2,3,4]">

            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <br>
  </div>


</ion-content>
<app-custom-tab></app-custom-tab>
